.boxarticle {
    display: grid;
    grid-template-rows: 55% 45%;
    background-color: var(--White);
    border-radius: 10px;
}
.image {
    display: flex;
}

.details {
    padding: 13px;
    font-size: 0.7rem;
}

.information {
    font-family: "public";
    font-weight: 400;
    color: var(--DarkBlue);
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1rem;
}

.information:hover {
    color: var(--BrightCyan);
    cursor: pointer;
}

.author {
    font-size: 0.7rem;
}

@media only screen and (max-width: 990px) {
    .boxarticle {
        max-width: 560px;
        margin-bottom: 30px;
    }
    .details {
        text-align: start;
    }
}

@media only screen and (min-width: 990px) {
    .boxarticle {
        grid-template-rows: 35% 65%;
    }
}
