.boxinfo {
    border: 1px solid rosybrown;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "public";
    font-weight: 400;
    color: var(--DarkBlue);
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

@media only screen and (max-width: 480px) {
    .boxinfo {
        align-items: center;
    }
}
